{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block content %}

<div class="container">




<h1>Change Password...</h1>
<br/>

<div class="form-group">
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}

<button class="btn btn-secondary">Change Password</button>
</form>
<br/>
<ul>
  <li>  Ваш пароль не может быть слишком похож на вашу другую личную информацию.</li>
  <li>  Ваш пароль должен содержать не менее 8 символов.</li>
  <li>  Ваш пароль не может быть обычным паролем.</li>
  <li> Ваш пароль не может быть полностью числовым.</li>

</ul>

</div>
</div>
{% endblock %}
