{% extends 'base.html' %}
{% block title %}Books{% endblock %}
{% block content %}




<div class="documentation">
<div class="container">

<div class="documentation-title">
  <h1>Книги</h1>
  </div>
  <div class="row">
    <div class="col">
      <h3>Раздел "Книги" будет доступен в ближайшее время...</h3><br/>
      <p>О любви к книгам рассуждали и продолжают рассуждать писатели, поэты, философы, учёные, актёры, музыканты... В современном мире электронные книги зачастую становятся более практичной альтернативой бумажным носителям. Но это не столь важно, главное – не утратить искренний интерес к магической силе волшебной литературы.</p>
    </div>
  </div>
</div>
</div>
{% endblock %}
