{% extends 'base.html' %}

{% block title %}{{ category.title }} | {% endblock %}

{% block content %}
<div class="container">
<br>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'frontpage' %}">Главная</a></li>
    {% if category.parent %}
    <li class="breadcrumb-item"><a href="{% url 'category_detail' category.parent.slug %}">{{ category.parent.title }}</a></li>

    {% endif %}
    <li class="breadcrumb-item"><a href="{% url 'category_detail' category.slug %}">{{ category.title }}</a></li>

  </ol>
</nav>
<h1 class="title">{{ category.title }}</h1>
<hr>

{% if category.children.all %}
    <div class="columns is-multiline">
        {% for subcategory in category.children.all %}
            <div class="column is-3">
                <h2 class="subtitle">{{ subcategory.title }}</h2>

                <a href="{% url 'category_detail' subcategory.slug %}">Посмотреть Статьи</a>
            </div>
        {% endfor %}
    </div>
{% else %}
  {% with posts as posts %}
{% include 'parts/post_list.html' %}
  {% endwith %}
{% endif %}


</div>
<br><br><br><br><br>
{% endblock %}
