{% extends 'base.html' %}


{% block content %}
<div class="container">




{% if user.is_authenticated %}
  {% if user.id == post.author.id %}
  <br>
    <h1>Удалить Статью..</h1>
    <hr>
    

    <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      <strong>Вы точно хотите удалить статью?</strong>
      <br>
      <br>
    <button class="btn btn-danger">Удалить!</button>
    </form>

    </div>
  {% else %}
    <h1>Не достаточно прав..</h1>
  {% endif %}
{% else %}
<h1>Ах ты читерюга:)</h1>
{% endif %}
<br><br><br><br><br><br>
</div>


{% endblock %}
