{% extends 'base.html' %}
{% block title %}Documentation{% endblock %}
{% block content %}


<div class="documentation">
<div class="container">

<div class="documentation-title">
  <h1>Документация</h1>
  </div>
  <div class="row">
    <div class="col">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi laoreet neque sit amet velit facilisis, vel imperdiet neque fermentum. Donec fermentum cursus risus vel auctor. Integer eleifend nisl purus, eu efficitur tortor posuere vel. Nulla facilisi. Pellentesque vestibulum quis ipsum nec mattis. Proin sit amet dolor augue. Fusce erat libero, iaculis quis lobortis vitae, posuere in ex. Maecenas lacinia faucibus odio sit amet varius.Praesent rutrum ex quis rhoncus ultricies. Fusce fringilla vestibulum ullamcorper. Quisque viverra tincidunt posuere. Mauris ante orci, dignissim eu orci sit amet, condimentum pellentesque diam. Suspendisse a pharetra orci. In lobortis dignissim nulla a porta. Quisque at nibh sit amet sem suscipit dictum. Praesent tristique mi mattis egestas ullamcorper. Donec sodales lorem vitae dui maximus cursus a et augue. Nulla ac volutpat nisl, non sodales mauris.</p>
    </div>
  </div>
</div>
</div>
{% endblock %}
